{{ define "about" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Charts</title>
    <!-- icons -->
    <link rel="icon" href="/assets/icons/css/all.css" title="icons" />
    <link rel="stylesheet" href="/assets/icons/css/all.css" />
    <!-- index styles -->
    <link rel="stylesheet" href="/js/nav/style.css" />
    <link rel="stylesheet" href="/js/footer/style.css" />
    <link rel="stylesheet" href="/js/about/style.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/chart.css" />
  </head>
  
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
      {{ template "navbar" . }}
    </header>

    <main class="main-container">
        <article>
          <h1 class="title">about</h1>
          <div class="title-underline"></div>
          <p>A searchable archive of reading lists compiled by the community. Contribute book recommendations and add reading list for other users to explore. Discuss reading lists via a postboard</p>
        </article>
    </main>

    <footer id="footer">
        {{ template "footer" . }}
      </footer>

   </body>
</html>

{{ end }}