{{ define "account" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <!-- icons -->
    <link rel="icon" href="/assets/icons/css/all.css" title="icons" />
    <link rel="stylesheet" href="/assets/icons/css/all.css" />
    <!-- index styles -->
    <link rel="stylesheet" href="/js/nav/style.css" />
    <link rel="stylesheet" href="/js/footer/style.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/chart.css" />
    <link rel="stylesheet" href="/js/account/style.css" />
  </head>
  
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
      {{template "navbar" . }}
    </header>

    <main class="main-container">
      <article>

          <h1 class="title">Account</h1>
          <div class="title-underline"></div>
          
          <article class="profile" id="profile">
              <div>
                <img class="img profile-img" src="assets/images/bunnies/404-bunny.jpg" alt="">
              </div>
              <div>
                <!-- needs an edit button -->
                <!-- so a table I think -->
                <p class="profile-info">Nathan Walton</p>
                <p class="profile-info">High River, Alberta</p>
                <p class="profile-info">nathanial.ca</p>
                <p class="profile-info">history, fantasy</p>
                <p class="profile-info">Tolkien, Poe</p>
                <p class="profile-info">March 2024</p>
                <p class="profile-info">I like writing code and making stuff</p>
              </div>
              <div class="sub-container">
                <ul class="account-btns">
                  <li><button class="btn btn-center account-btn" id="FavouritedBooks">Favourited Books</button></li>
                  <li><button class="btn btn-center account-btn" id="ReadingLists">Reading Lists</button></li>
                  <li><button class="btn btn-center account-btn" id="ReadingHistory">Reading History</button></li>
                  <li><button class="btn btn-center account-btn" id="QueuedBooks">Queued Books</button></li>
                  <li><button class="btn btn-center account-btn" id="PostHistory">Post History</button></li>
                </ul>
                <div>
                  <h5 class="title">Contribute</h5>
                  <div class="title-underline"></div>
                  <ul class="chart-links account-links">
                    <li><a href="/addbook">Add a book</a></li>
                    <li><a href="/addreadinglist">Add a new reading list</a></li>
                    <li><a href="/updatebook">update a book</a></li>
                    <li><a href="/updatereadinglist">update a reading list</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </article>      
      
        <article class="account-data" id="account-data">

        </article>
    </main>

    <footer id="footer">
        {{ template "footer" . }}
      </footer>

      <script src="/js/account/app.js"></script>
   </body>
</html>

{{ end }}