{{define "category"}}
<li>
    <a href="./categories/authors/index.html" class="main-card">
        <img
            src="./assets/images/layout/authors-stock-450.jpg"
            class="img card-img"
        />
        <section class="card-info">
            <h3>{{ .category }}</h3>
            <div class="title-underline"></div>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
            quos explicabo, sit suscipit fugit iusto, eveniet labore
            nostrum esse quam ratione tempora quidem voluptates molestias
            similique cupiditate iste quas ducimus.
            </p>
        </section>
    </a>
</li>
  {{ end }}
