{{define "category"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Category.Category }}</title>
    <!--  icons -->
    <link rel="icon" href="/assets/icons/css/all.css" />
    <link rel="stylesheet" href="/assets/icons/css/all.css" />
    <!-- index styles -->
    <link rel="stylesheet" href="/css/chart.css" />
    <link rel="stylesheet" href="/js/nav/style.css" />
    <link rel="stylesheet" href="/js/footer/style.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
        {{ template "navbar" . }}
    </header>

    <!-- quick links to charts -->
    <main class="main-container">
 
      <section class="overview-chart">
        <h2>{{ .Category.Category }}</h2>
        <div class="title-underline"></div>
        <img src="{{ .Category.Image }}" alt="{{ .Category.Category }} chart" class="img chart-img"
        />
        <p class="overview-text">
          {{ if ne .Category.Description "NA" }} {{ .Category.Description }} {{ end }}
        </p>
      </section>      

      <article class="links-container">
        <header>
          <h1 class="title title-header">quick links</h1>
          <div class="title-underline"></div>
        </header>
        <!-- links -->
        <nav>
          <ul class="chart-links">
            {{ range .ReadingList }}
            <li><a href="/readinglist/{{ .Name }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </article>

      <!-- info cards -->
      <article>
        <!-- section title -->
        <header>
          <h1 class="title title-header">reading lists</h1>
          <div class="title-underline"></div>
        </header>

        <!-- subcategory card -->
        <ul class="main-links">
            {{ range .ReadingList }}
          <li>
            <a href="/readinglist/{{ .Name }}" class="main-card">
              <img
                src="{{ .Image }}"
                class="img card-img"
              />
              <section class="card-info">
                <h3>{{ .Name }}</h3>
                <div class="title-underline"></div>
                <p>
                  {{ .Description }}
                </p>
              </section>
            </a>
          </li>
          {{ end }}
        </ul>
      </article>
    </main>

    <footer id="footer">
        {{ template "footer" . }}
    </footer>
  </body>
</html>


{{ end }}
