{{ define "contact" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
    <!-- icons -->
    <link rel="icon" href="/assets/icons/css/all.css" title="icons" />
    <link rel="stylesheet" href="/assets/icons/css/all.css" />
    <!-- index styles -->
    <link rel="stylesheet" href="/js/nav/style.css" />
    <link rel="stylesheet" href="/js/footer/style.css" />
    <link rel="stylesheet" href="/js/contact/style.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/chart.css" />
  </head>
  
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
      {{template "navbar" . }}
    </header>

    <main class="main-container">
        <article class="contact">
          <h1 class="title">contact</h1>
          <div class="title-underline"></div>
          <p>
            Website made by Nathanial Walton
            <br>
            nathanial.ca
            <br>
            nathanial28@gmail.com
          </p>

          <form class="form" action="/suggestion" method="post" enctype="multipart/form-data">
            <label class="form-label">suggestions</label>
            <textarea class="form-input" name="suggestions" id="suggestions" rows="4" placeholder="Your suggestions here..."></textarea>
            <button class="btn btn-center" type="submit" value="Submit">Submit</button>
          </form>
          <!-- 
            contact form 
            email
            suggestions
          -->
        </article>
    </main>

    <footer id="footer">
        {{ template "footer" . }}
      </footer>

   </body>
</html>

{{ end }}