{{ define "landing" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Charts</title>
    <!-- icons -->
    <link rel="stylesheet" href="./assets/icons/css/all.css" title="icons" />
    <!-- index styles -->
    <link rel="stylesheet" href="./js/nav/style.css" />
    <link rel="stylesheet" href="./js/footer/style.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
      {{ template "navbar" . }}
    </header>
    

    <article class="main-container">
      <!-- hero image -->
      <article class="hero-center">
        <section class="hero-overlay">
          <section class="hero-explore">
            <h1 class="hero">Discover the pleasure of literature</h1>
            <a href="#main-links" class="explore-btn scroll-link">explore</a>
          </section>
        </section>
      </article>

      <!-- quick links to charts or maybe to themees with multiple charts -->
      <article class="links-container">
        <header>
          <h1 class="title title-header">quick links</h1>
          <div class="title-underline"></div>
        </header>
        <nav>
          <ul class="chart-links">
            <!-- loop through and pull from a database -->
            {{ range . }}

            <li><a href="/{{ .Category }}">{{ .Category }}</a></li>
            
            {{ end }}
          </ul>
        </nav>
      </article>

      <hr />
      <!-- shows a random reading list -->

      {{ template "dailylist" . }}

      <hr />

      <main class="main-links-container" id="main-links">
        <!-- section title -->
        <header>
          <h1 class="title title-header">genre overview</h1>
          <div class="title-underline"></div>
        </header>

        <!-- main genre links -->
        <ul class="main-links">


          <!-- loop through and pull from a database -->
          {{ range . }}
          
          <li>
            <a href="/{{ .Category }}" class="main-card">
                <img
                    src="{{ .Image }}"
                    class="img card-img"
                />  
                <section class="card-info">
                    <h3>{{ .Category }}</h3>
                    <div class="title-underline"></div>
                    <p>
                      {{ .Description }}
                    </p>
                </section>
            </a>
        </li>
          
          {{ end }}
          <!-- link -->
          
        </ul>

        <!-- js effects -->
        <script src="app.js"></script>

        <!-- misc links -->
        <ul class="main-links main-links-misc"></ul>
      </main>
    </article>

    <footer id="footer">
      {{ template "footer" . }}
    </footer>
  </body>
</html>


{{ end }}