{{ define "contact" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Charts</title>
    <!-- icons -->
    <link rel="stylesheet" href="/assets/icons/css/all.css" title="icons" />
    <!-- index styles -->
    <link rel="stylesheet" href="/js/nav/style.css" />
    <link rel="stylesheet" href="/js/footer/style.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
      {{template "navbar" . }}
    </header>

    <main class="main-container">
        <article>
            This is the contact page
        </article>
    </main>

    <footer id="footer">
        {{ template "footer" . }}
      </footer>

   </body>
</html>

{{ end }}