{{ define "navbar" }}

<div class='navbar'>
    <a href='/'><h4 class='logo'>logo</h4></a>
    <button type='button' class='bars' id='bars'>
        <i class='fa fa-bars'></i>
    </button>
</div>
<nav>
    <ul class='nav-links' id='nav-links'>
        <li><a href='/'>home</a></li>
        <li><a href='/about'>about</a></li>
        <li><a href='/contact'>contact</a></li>        
        {{ if .Admin }}
        <li><a href='/admin'>admin</a></li>        
        {{ end }}
        {{ if .LoggedIn }}
        <li><a href='/account'>account</a></li>
        <li><a href='/logout'>logout</a></li>
        {{ else }}
        <li><a href='/login'>login/signup</a></li>
        {{ end }}
        
    </ul>
</nav>
<script src="/js/nav/nav.js"></script>

{{ end }}